* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: seagreen;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}
/*.header {
		  background-color: goldenrod;
		  padding: 20px;
		  text-align: center;
		  font-size: 35px;
		}
*/
.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
}
.column.box {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  margin: 3px;
}

.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
  flex: 1;
  background-color: dimgray;
}

.column.middle {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  background-color: whitesmoke;
}
@media (max-width: 570px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

div.citacia {
  font-style: italic;
  padding: 10px;

}
p.citacia {
  font-style: italic;
  padding: 10px;

}
h1.NadpisThema {
 	color: darkgreen;
	font-size: 30px;
	padding: 15px;

}
h2.NadpisKTextu {
  color: seagreen;
  font-size: 20px;
  padding: 10px;

}
h2.NadpisDoBoxu {
  color: #dcab05;
  text-align: center;
  font-size: 20px;
}
div.podnadpis1 {
  color: darkcyan;
  font-weight: bold;
  text-decoration: underline;
}
.imgCenter{
  	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.imgBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
.centerMap{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
